.heading {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  margin: 10px 25%;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-style: italic;
  font-size: 20px;
}

.list {
  margin: 10px 25%;
}

.list-item,
.label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.check {
  height: 20px;
  width: 5%;
}

.paragraph,
.label {
  width: 100%;
  font-size: 20px;
}

.btn {
  width: 50%;
  border: 0;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 25%;
}

.action {
  display: flex;
  gap: 10px;
}

.edit {
  background-image: linear-gradient(to right, rgb(235, 29, 156), purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checked {
  text-decoration: line-through;
  opacity: 0.7;
}
